In [1]:
import pandas as pd 
import numpy as numpy

In [2]:
s1 = pd.Series([1,2,3])

In [3]:
s1

0    1
1    2
2    3
dtype: int64

In [4]:
s1[0]

1

In [5]:
s1[0:3]

0    1
1    2
2    3
dtype: int64

In [6]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
s2 = pd.Series([1,2,3], index=[1,2,3])

In [8]:
s2

1    1
2    2
3    3
dtype: int64

In [9]:
s2.values

array([1, 2, 3])

In [10]:
df1 = {"names":["sonic","shikki"],
       "rol_no": [1,2]}
df1

{'names': ['sonic', 'shikki'], 'rol_no': [1, 2]}

In [11]:
df1.keys()

dict_keys(['names', 'rol_no'])

In [12]:
df1.values()

dict_values([['sonic', 'shikki'], [1, 2]])

In [13]:
df1.items()

dict_items([('names', ['sonic', 'shikki']), ('rol_no', [1, 2])])

In [21]:
df2 = pd.DataFrame(s1)
df2

   0
0  1
1  2
2  3

In [32]:
df3 = pd.concat((df1,df2),join = "inner",axis =1)
df3

    names  rol_no  0
0   sonic       1  1
1  shikki       2  2

In [33]:
df3.set_index("rol_no")

         names  0
rol_no
1        sonic  1
2       shikki  2