In [1]:
import pandas as pd 
import numpy as numpy

In [2]:
s1 = pd.Series([1,2,3])

In [3]:
s1

0    1
1    2
2    3
dtype: int64

In [4]:
s1[0]

1

In [5]:
s1[0:3]

0    1
1    2
2    3
dtype: int64

In [6]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
s2 = pd.Series([1,2,3], index=[1,2,3])

In [8]:
s2

1    1
2    2
3    3
dtype: int64

In [9]:
s2.values

array([1, 2, 3])

In [10]:
df1 = {"names":["sonic","shikki"],
       "rol_no": [1,2]}
df1

{'names': ['sonic', 'shikki'], 'rol_no': [1, 2]}

In [11]:
df1.keys()

dict_keys(['names', 'rol_no'])

In [12]:
df1.values()

dict_values([['sonic', 'shikki'], [1, 2]])

In [13]:
df1.items()

dict_items([('names', ['sonic', 'shikki']), ('rol_no', [1, 2])])

In [14]:
df2 = pd.DataFrame(s1)
df1 = pd.DataFrame(df1)

In [15]:
df3 = pd.concat((df1,df2),axis =1)
df3

    names  rol_no  0
0   sonic     1.0  1
1  shikki     2.0  2
2     NaN     NaN  3

In [16]:
df3.set_index("rol_no")

         names  0
rol_no
1.0      sonic  1
2.0     shikki  2
NaN        NaN  3

In [17]:
cardata = pd.read_csv("./cardata.csv")
cardata

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [18]:
cardata["Loss"] = cardata["Selling_Price"] - cardata["Present_Price"]
cardata

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,-2.24
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,-4.79
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,-2.60
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,-1.30
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,-2.27
...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,-2.10
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,-1.90
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,-7.65
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,-1.00
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,-0.60

In [21]:
cardata[cardata["Year"] == 2014]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
0,ritz,2014,3.35,5.590,27000,Petrol,Dealer,Manual,0,-2.240
4,swift,2014,4.60,6.870,42450,Diesel,Dealer,Manual,0,-2.270
23,alto k10,2014,2.50,3.460,45280,Petrol,Dealer,Manual,0,-0.960
32,swift,2014,4.95,7.490,39000,Diesel,Dealer,Manual,0,-2.540
33,ertiga,2014,6.00,9.950,45000,Diesel,Dealer,Manual,0,-3.950
34,dzire,2014,5.50,8.060,45000,Diesel,Dealer,Manual,0,-2.560
41,alto k10,2014,2.55,3.980,46706,Petrol,Dealer,Manual,0,-1.430
43,dzire,2014,5.50,8.060,45780,Diesel,Dealer,Manual,0,-2.560
45,ciaz,2014,7.50,12.040,15000,Petrol,Dealer,Automatic,0,-4.540
58,etios g,2014,4.10,6.800,39485,Petrol,Dealer,Manual,1,-2.700
59,fortuner,2014,19.99,35.960,41000,Diesel,Dealer,Automatic,0,-15.970
62,fortuner,2014,18.75,35.960,78000,Diesel,Dealer,Automatic,0,-17.210
65,etios liva,2014,4.75,6.950,45000,Diesel,Dealer,Manual,0,-2.200
70,etios liva,2014,3.95,6.760,71000,Diesel,Dealer,Manual,0,-2.810
74,etios cross,2014,4.90,8.930,83000,Diesel,Dealer,Manual,0,-4.030
89,etios g,2014,4.75,6.760,40000,Petrol,Dealer,Manual,0,-2.010
91,innova,2014,11.25,16.090,58242,Diesel,Dealer,Manual,0,-4.840
106,Hyosung GT250R,2014,1.35,3.450,16500,Petrol,Individual,Manual,1,-2.100
112,KTM 390 Duke,2014,1.15,2.400,7000,Petrol,Individual,Manual,0,-1.250
136,Honda CBR 150,2014,0.65,1.200,23500,Petrol,Individual,Manual,0,-0.550
144,Bajaj Pulsar NS 200,2014,0.60,0.990,25000,Petrol,Individual,Manual,0,-0.390
146,Hero Extreme,2014,0.55,0.787,15000,Petrol,Individual,Manual,0,-0.237
154,Yamaha Fazer,2014,0.50,0.880,8000,Petrol,Individual,Manual,0,-0.380
161,TVS Apache RTR 180,2014,0.45,0.826,23000,Petrol,Individual,Manual,0,-0.376
167,TVS Apache RTR 160,2014,0.42,0.810,42000,Petrol,Individual,Manual,0,-0.390
172,Bajaj Pulsar 135 LS,2014,0.40,0.640,13700,Petrol,Individual,Manual,0,-0.240
178,TVS Jupyter,2014,0.35,0.520,19000,Petrol,Individual,Automatic,0,-0.170
218,verna,2014,6.45,9.400,45078,Petrol,Dealer,Manual,0,-2.950
222,i20,2014,6.00,7.600,77632,Diesel,Dealer,Manual,0,-1.600
242,xcent,2014,4.40,7.130,34000,Petrol,Dealer,Manual,0,-2.730
253,city,2014,7.20,9.900,48000,Diesel,Dealer,Manual,0,-2.700
259,amaze,2014,3.90,7.000,36054,Petrol,Dealer,Manual,0,-3.100
266,amaze,2014,3.65,7.000,35000,Petrol,Dealer,Manual,0,-3.350
274,brio,2014,5.30,6.800,16500,Petrol,Dealer,Manual,0,-1.500
279,city,2014,6.25,13.600,40126,Petrol,Dealer,Manual,0,-7.350
282,city,2014,8.25,14.000,63000,Diesel,Dealer,Manual,0,-5.750
290,amaze,2014,4.50,6.400,19000,Petrol,Dealer,Manual,0,-1.900
294,amaze,2014,3.75,6.800,33019,Petrol,Dealer,Manual,0,-3.050

In [22]:
cardata.shape

(301, 10)

In [28]:
cardata[(cardata['Year']==2014)&(cardata['Loss']<-5)].shape

(4, 10)

In [34]:
cardata[(cardata['Year']==2014)&(cardata['Loss']<-5) | (cardata['Fuel_Type']=="Diesel")]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,-4.79
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,-2.27
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,-0.58
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0,-2.11
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0,-0.14
...,...,...,...,...,...,...,...,...,...,...
279,city,2014,6.25,13.60,40126,Petrol,Dealer,Manual,0,-7.35
282,city,2014,8.25,14.00,63000,Diesel,Dealer,Manual,0,-5.75
295,city,2015,8.55,13.09,60076,Diesel,Dealer,Manual,0,-4.54
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,-2.10
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,-1.00

In [37]:
cardata[~cardata['Car_Name'].isin(['ciaz'])]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,-2.24
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,-4.79
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,-1.30
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,-2.27
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,-0.58
...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,-2.10
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,-1.90
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,-7.65
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,-1.00
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,-0.60

In [40]:
cardata.iloc[0]  #Integer Index,starts from 0

Car_Name           ritz
Year               2014
Selling_Price      3.35
Present_Price      5.59
Kms_Driven        27000
Fuel_Type        Petrol
Seller_Type      Dealer
Transmission     Manual
Owner                 0
Loss              -2.24
Name: 0, dtype: object

In [41]:
cardata[0:2]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,-2.24
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,-4.79

In [43]:
cardata[0:2]['Car_Name']

0    ritz
1     sx4
Name: Car_Name, dtype: object

In [48]:
cardata.iloc[0,3]

5.59

In [49]:
cardata.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
Loss             float64
dtype: object

In [50]:
cardata.sort_index()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,-2.24
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,-4.79
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,-2.60
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,-1.30
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,-2.27
...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,-2.10
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,-1.90
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,-7.65
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,-1.00
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,-0.60

In [51]:
from sklearn.model_selection import train_test_split

In [54]:
train,test = train_test_split(cardata,test_size=0.2)
test.sort_index()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Loss
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,-0.58
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0,-2.44
14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0,-4.96
16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0,-3.54
22,sx4,2011,4.40,8.01,50000,Petrol,Dealer,Automatic,0,-3.61
...,...,...,...,...,...,...,...,...,...,...
265,jazz,2017,6.50,8.70,21200,Petrol,Dealer,Manual,0,-2.20
267,city,2016,8.35,9.40,19434,Diesel,Dealer,Manual,0,-1.05
287,amaze,2015,5.75,7.50,44000,Petrol,Dealer,Automatic,0,-1.75
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,-1.90
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,-0.60

In [55]:
cardata['Fuel_Type'].value_counts()

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64